.input {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 30rem;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.input input:focus {
    outline-color: #074ea0;
    outline-width: 3px;
    outline-offset: 5px;
}